.topbar {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  background: var(--card-bg);
  padding: 0 20px;
  font-family: "Inter", sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;

  &__left {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &__breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    margin-left: 10px;
    gap: 6px;

    span {
      font-weight: 400;
      color: var(--muted);
    }

    .divider {
      opacity: 0.4;
    }

    .active {
      color: var(--text-color);
      font-weight: 500;
    }
  }

  &__center {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &__search-wrapper {
    position: relative;
    width: 260px;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    opacity: 0.6;
  }

  .search-shortcut {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    // height: 20px;
    opacity: 0.7;
  }

  &__search {
    // width: 100%;
    height: 34px;
    border-radius: 8px;
    border: none;
    padding: 0 40px;
    font-size: 14px;
    color: var(--text-color);
    background: var(--bg-color);
    outline: none;
    transition: border 0.2s ease;

    &::placeholder {
      color: var(--muted);
    }

    &:focus {
      border-color: var(--primary);
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 14px;
  }

  &__btn {
    background: transparent;
    border: none;
    padding: 4px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;

    img {
      width: 22px;
      height: 22px;
      opacity: 0.8;
      filter: var(--icon-filter, none);
    }

    &:hover img {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}

/* Dark Mode */
[data-theme="dark"] .topbar {
  background: var(--card-bg);
  border-color: var(--border-color);

  &__breadcrumb span {
    color: rgba(255, 255, 255, 0.6);
  }

  &__breadcrumb .active {
    color: #fff;
  }

  .search-icon,
  .search-shortcut img {
    filter: invert(1);
  }

  &__search {
    background: var(--bg-color);
    color: #fff;
  }

  &__btn img , &__icons img{
    filter: invert(1);
  }
}
