.total-sales-card {
  background: var(--card-bg);
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 360px; 
}

/* Title */
.total-sales-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}


.sales-content {
display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

/* DONUT CHART BOX */
.donut-container {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

/* RIGHT SIDE LIST */
.sales-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* EACH ROW */
.sales-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    gap: 10px;

    .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .amount {
    font-size: 14px;
    font-weight: 600;
  }
}
