@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");



:root {
  --bg-color: #f9fafb;
  --text-color: #111;
  --card-bg: #fff;
  --border-color: #e5e7eb;
}

[data-theme="dark"] {
  --bg-color: #111827;
  --text-color: #f3f4f6;
  --card-bg: #1f2937;
  --border-color: #374151;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter";
  transition: background-color 0.3s ease, color 0.3s ease;
}
